:root {
    --sl-content-width: 55rem;
    --sl-content-margin-inline: auto auto !important;
}

@media (min-width: 72rem) {
    .sl-container:where(.astro-7nkwcw3z) {
        margin-inline: auto auto;
    }
}